<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>About us</h3>
    <p> Application made by: Vishal D Sadawarte
      <br> This amazing password generator application is made by a person whose background was commerce(BCOM).<br>
      Intended to be an ENTERPRENUER or aspiring  ENTERPRENUER and the most curious man developed this application <br>
      with Python language. You can use this app to generate password. Also you need not need to save it anywhere. <br>
      Just have a premium version of this app and generate password for facebook or instagram, connect with the required <br>
      devices and forget. Our server will automatically save it for you and you will just have to enter your email or phone <br>
      number to login from your device.
    </p>
     <a href="{% url 'home' %}">HOME</a>

  </body>
</html>
